<div class="account-bar  account-bar--poker">
    <div class="account-bar--wrap  fixed-width-limit  cf">
        <div class="account-bar__left">
            <div class="account-bar__inner  account-bar__left-inner">
            </div>
        </div>

        <div class="account-bar__brand  account-bar__inner">
            <div class="account-bar__links-wrap">
                <a href="/"><img class="account-bar__brand-logo" src="/img/logo/sky-poker.png" alt="Sky Poker" data-analytics="[Header] - Logo"></a>
            </div>
        </div>

        <div class="account-bar__right">

            <div class="account-bar__inner  account-bar__right-inner">
                <div class="account-bar__links-wrap">
                    <ul class="nav  account-links">

                        <li>
                            <a class="account-bar__link  js-login" href="#">Log In <i class="icon  icon--natural  hide-mobile" data-icon="&#xF006;"></i></a>
                        </li>
                        <li>
                            <a class="account-bar__link  js-register" href="#">Join<span class="hide-mobile"> Now </span><i class="icon  icon--natural  hide-mobile" data-icon="&#xF305;"></i></a>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
