        <div class="cross-product-wrap js-scroller" style="overflow: hidden">
            <div class="cross-product  flexbox  isTouch">
                <a class="flexbox__item  cross-product__item  cross-product__item--link" rel="external" href="https://m.skybet.com/?dcmp=Pok_Nav" data-analytics="[Product] - Bet">
                    <img src="/img/logo/cross/sky-bet.png" alt="Sky Bet" class="cross-product__item--stdlogo">
                </a>
                <a class="flexbox__item  cross-product__item  cross-product__item--link" rel="external" href="https://www.skyvegas.com/?dcmp=Pok_Nav" data-analytics="[Product] - Vegas">
                    <img src="/img/logo/cross/sky-vegas.png" alt="Sky Vegas" class="cross-product__item--stdlogo">
                </a>
                <a class="flexbox__item  cross-product__item  cross-product__item--link" rel="external" href="https://www.skycasino.com/?dcmp=Pok_Nav" data-analytics="[Product] - Casino">
                    <img src="/img/logo/cross/sky-casino.png" alt="Sky Casino" class="cross-product__item--stdlogo">
                </a>
                <a class="flexbox__item  cross-product__item  cross-product__item--link" rel="external" href="https://www.skybingo.com/?dcmp=Pok_Nav" data-analytics="[Product] - Bingo">
                    <img src="/img/logo/cross/sky-bingo.png" alt="Sky Bingo" class="cross-product__item--stdlogo">
                </a>
                <a class="flexbox__item  cross-product__item  cross-product__item--link" rel="external" href="https://super6.skysports.com/?dcmp=Pok_Nav" data-analytics="[Product] - Super 6">
                    <img src="/img/logo/cross/super6.png" alt="Super6" class="cross-product__item--biglogo">
                </a>
                <a class="flexbox__item  cross-product__item  cross-product__item--link" rel="external" href="https://fantasyfootball.skysports.com/?dcmp=Pok_Nav" data-analytics="[Product] - Fantasy Football">
                    <img src="/img/logo/cross/fantasy-football.png" alt="Fantasy Football" class="cross-product__item--biglogo">
                </a>
                <a class="flexbox__item  cross-product__item  cross-product__item--link" rel="external" href="https://fantasysixaside.skysports.com/?dcmp=Pok_Nav" data-analytics="[Product] - Fantasy Six A Side">
                    <img src="/img/logo/cross/logo-cross-FSAS.png" alt="Fantasy Six A Side" class="cross-product__item--biglogo">
                </a>
                <a class="flexbox__item  cross-product__item  cross-product__item--link" rel="external" href="https://pick7.sportinglife.com/?dcmp=Pok_Nav" data-analytics="[Product] - Pick 7">
                    <img src="/img/logo/cross/logo-cross-pick7.png" alt="Pick 7" class="cross-product__item--biglogo">
                </a>
                <span class="flexbox__item  cross-product__item  cross-product__item--time">
                    <i class="icon icon--natural" data-icon="&#xf093;"></i> <span class="js-clock">22:14</span>
                </span>
            </div><!-- cross-product -->
        </div><!-- cross-product-wrap -->
