<footer>
<div class="page-foot grid">
    <div class="grid__item lap-one-half desk-one-third one-whole page-foot__item page-foot__item--privacy">
        <h4><span class="product-name">Sky Betting &amp; Gaming</span></h4>

        <ul class="page-foot__logos">
            <li>
                <a class="page-foot__logo page-foot__logo--ibas" title="Independent Betting Arbitration Service" href="http://www.ibas-uk.com" rel="external nofollow" data-analytics="[Footer] - IBAS">IBAS</a>
            </li>
             <li>
                <a class="page-foot__logo page-foot__logo--essa" href="http://www.eu-ssa.org/" title="Essa Sports Betting Integrity" rel="external nofollow" data-analytics="[Footer] - essa">Essa</a>
             </li>
        </ul>
        <p>
           Customers in United Kingdom: <span class="product-name">Sky Poker</span> is licensed and regulated by the <a title="Gambling Commission (Opens in a new window)" rel="external nofollow" target="_blank" href="https://secure.gamblingcommission.gov.uk/publicregister/Search/Detail/38718" data-analytics="[Footer] - UKGC">Gambling Commission</a> (licence number 38718).
        </p>
        <p>
            All other customers: <span class="product-name">Sky Poker</span> is licensed and regulated by the <a title="Alderney Gambling Control Commission (Opens in a new window)" rel="external nofollow" href="http://www.gamblingcontrol.org" data-analytics="[Footer] - AGCC">AGCC</a>.
        </p>
        <ul class="page-foot__site-links">
            <li>
                <a href="https://support.skypoker.com/app/answers/detail/a_id/43" rel="nofollow external" target="_blank" data-analytics="[Footer] - About">About us</a>
            </li>
            <li>
                <a href="https://support.skypoker.com/app/answers/detail/a_id/143" rel="nofollow external" target="_blank" data-analytics="[Footer] - Privacy">Privacy and Cookies Notice</a>
            </li>
            <li>
                <a href="https://support.skypoker.com/app/answers/detail/a_id/81" rel="nofollow external" target="_blank" data-analytics="[Footer] - Press">Press</a>
            </li>
            <li>
                <a href="https://support.skypoker.com/app/answers/detail/a_id/80" rel="nofollow external" target="_blank" data-analytics="[Footer] - Accessibility">Accessibility</a>
            </li>
            <li>
                <a href="http://www.skybetcareers.com/" rel="external nofollow" target="_blank" data-analytics="[Footer] - Career Opportunities">Career Opportunities</a>
            </li>
            <li>
                <a href="http://engineering.skybettingandgaming.com" rel="external nofollow" target="_blank" data-analytics="[Footer] - Technology Blog">Technology Blog</a>
            </li>
            <li>
                <a href="https://support.skypoker.com/app/answers/detail/a_id/40" rel="nofollow external" target="_blank" data-analytics="[Footer] - Rules">Terms &amp; Conditions</a>
            </li>
        </ul>
    </div><!--

    --><div class="grid__item desk-one-third one-whole page-foot__item page-foot__item--deposit">
        <h4>Deposit Funds</h4>

        <ul class="page-foot__logos">
            <li class="page-foot__logo--visa">Visa</li>
            <li class="page-foot__logo--visa-debit">Visa Debit</li>
            <li class="page-foot__logo--visa-electron">Visa Electron</li>
            <li class="page-foot__logo--mastercard">Mastercard</li>
            <li class="page-foot__logo--maestro">Maestro</li>
        </ul>

        <p>We accept the following payment methods: Visa Credit, Visa Debit, Visa Electron, Mastercard, Maestro, Solo</p>
    </div><!--

    --><div class="grid__item lap-one-half desk-one-third one-whole page-foot__item page-foot__item--responsible-gambling">
        <h4>Responsible Gambling</h4>

        <ul class="page-foot__logos">
            <li>
                <a class="page-foot__logo--gamcare" href="http://www.gamcare.org.uk" title="GamCare" rel="external nofollow" data-analytics="[Footer] - Gamcare">Gamcare</a>
            </li>
            <li>
                <a class="page-foot__logo--gamcare-cert" href="https://support.skypoker.com/app/answers/detail/a_id/52" rel="external nofollow" target="_blank" title="We are GamCare Accredited" data-analytics="[Footer] - Gamcare Certification">Gamcare Certification</a>
            </li>
            <li>
                <a class="page-foot__logo--gambling-therapy" href="https://www.gamblingtherapy.org/" title="Gambling Therapy" rel="external nofollow" data-analytics="[Footer] - Gambling Therapy">Gambling Therapy</a>
            </li>
            <li class="page-foot__logo--over-18">Over 18s</li>
            <li>
                <a class="page-foot__logo--gambleaware" href="http://www.gambleaware.co.uk/" title="Gamble Aware" rel="external nofollow" data-analytics="[Footer] - Gamble Aware">Gamble Aware</a>
            </li>
            <li class="page-foot__logo--when-the-fun-stops">
                <a href="http://www.whenthefunstops.co.uk/" target="_blank" title="When the fun stops, stop" rel="external nofollow" data-analytics="[Footer] - When the fun stops, stop">When the fun stops, stop</a>
            </li>
        </ul>

        <p>We are committed to <a href="https://support.skypoker.com/app/answers/detail/a_id/28" rel="nofollow external" target="_blank" title="Responsible Gambling" data-analytics="[Footer] - Responsible Gambling">Responsible Gambling</a> and have a number of self-help tools to help you manage your gambling.</p>
        <p>We also work with a number of independent charitable organisations who can offer help or answer any questions you may have.</p>
    </div><!--
 --><div class="grid__item">
        <p class="push--bottom" id="copyright">&copy; 2018 Bonne Terre Limited or its affiliated companies. The Sky trademarks are owned by the Sky Plc group of companies and are used under licence. All rights reserved</p>
    </div>
</div>
</footer>
