<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Sky Poker">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-itunes-app" content="app-id=871803752">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

    <link rel="stylesheet" type="text/css" href="/css/poker-b74e6b361f8c5d2bf0608e21ada0e0ca.css" />
    <!--<link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">-->
    <link rel="apple-touch-icon-precomposed" href="{{ "/img/logo/touch-icon.png" | prepend: site.baseurl }}">
</head>
